$c-white: #fff;
$c-raisin-black: #30292f;
$c-independence: #413f54;
$c-liberty: #5f5aa2;
$c-Bdazzled-blue: #5f5aa2;
$c-onyx: #3f4045;

$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 24px;
$sp-xl: 32px;

$fs-xs: 4px;
$fs-sm: 8px;
$fs-md: 16px;
$fs-lg: 24px;
$fs-xl: 32px;
