@import "variables";

$icon-size: 36px;
$icon-option-size: 24px;

.card {
  box-sizing: border-box;
  height: auto;
  padding: $sp-md;
  border-radius: $ra-md;
  background-color: $c-independence;
  display: flex;
  flex-direction: column;
  gap: $sp-md;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    img {
      width: $icon-size;
      height: $icon-size;
    }
  }

  .card-description {
    min-height: 120px;
    color: $c-white;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .card-title {
    h2 {
      color: $c-white;
    }
  }

  .card-option-icons {
    display: flex;
    justify-content: flex-end;

    button:hover {
      cursor: pointer;
    }

    img {
      width: $icon-option-size;
      height: $icon-option-size;
    }
  }
}
