<div class="container">
  <div class="wrapper">
    <div class="card">
      <div class="card-wrapper">
        <div class="card-header">
          <img src="../../../assets/img/book.png" alt="" />
          <p>7/23</p>
        </div>
        <div class="card-title"><h2>Studying Angular</h2></div>
        <div class="card-description">
          次の転職先に向けて、SPAフレームワークであるAngularを学習する。<br />
          まずはUdemyで学習し、その次にオリジナルのToDoアプリを作る。
        </div>
        <div class="card-option-icons">
          <div class="card-option-icons-wrapper">
            <button><img src="../../../assets/img/book.png" alt="" /></button>
            <button><img src="../../../assets/img/book.png" alt="" /></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
