@import "variables";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: $sp-md;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $c-raisin-black;
}

.title-container {
  h1 {
    font-size: $fs-lg;
    color: $c-white;
  }
}

.user-container {
  p {
    font-size: $fs-md;
    color: $c-white;
  }
  .login-state {
    font-size: $fs-sm;
    margin-bottom: $sp-sm;
  }
  .user-wrapper {
    display: flex;
    align-items: center;
    gap: $sp-xs;
    color: $c-white;
  }
  .circle {
    background-color: #fff;
    width: $sp-lg;
    height: $sp-lg;
    border-radius: 999px;
  }
}
