<div class="container">
  <ul class="date-tasks">
    <li class="date-task">
      <div class="date-state"><p>Today</p></div>
      <div class="date-icon">
        <div class="date-num"><p>23</p></div>
        <div class="date-task-count"><p>2</p></div>
      </div>
    </li>
    <li class="date-task">
      <div class="date-state"><p>Week</p></div>
      <div class="date-icon">
        <div class="date-num"><p>23</p></div>
        <div class="date-task-count"><p>2</p></div>
      </div>
    </li>
    <li class="date-task">
      <div class="date-state"><p>Month</p></div>
      <div class="date-icon">
        <div class="date-num"><p>23</p></div>
        <div class="date-task-count"><p>2</p></div>
      </div>
    </li>
    <li class="date-task">
      <div class="date-state"><p>All</p></div>
      <div class="date-icon">
        <div class="date-num"><p>23</p></div>
        <div class="date-task-count"><p>2</p></div>
      </div>
    </li>
  </ul>
</div>
